.first {
    background-color: blue;
    grid-area: card;
}

.second {
    background-color: red;
    grid-area: card;
}

.third {
    background-color: yellow;
    grid-area: card;
}

.fourth {
    background-color: green;
    grid-area: card;
}

.first, .second, .third, .fourth {
    width: 400px;
    height: 400px;
    margin: auto;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}

.ul-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}


@media only screen and (min-width: 400px) and (max-width: 650px) {
    .first, .second, .third, .fourth {
        width: 300px;
        height: 300px;
    }

    .card-container {
        flex-direction: column;
        width: 80vw;
    }
}
@media only screen and (min-width: 650px) and (max-width: 900px) {
    .first, .second, .third, .fourth {
        width: 400px;
        height: 400px;
    }

    .card-container {
        flex-direction: column;
        width: 80vw;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1100px) {
    .first, .second, .third, .fourth {
        width: 400px;
        height: 400px;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "card card"
        "card card";

        width: 80vw;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1800px) {
    .first, .second, .third, .fourth {
        width: 500px;
        height: 500px;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "card card"
        "card card";

        width: 80vw;
    }
}