.score-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scores {
    width: 50vw;
    text-align: center;
    font-size: 1.5rem;
}

.win {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}